.todocreate{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 600px;
}
.forcreate{
    border: none;
    border-bottom:solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.678);
    font-size: 16px;
    width: 600px;
    padding: 10px 15px;
    outline: none;
    text-transform: capitalize;
}
.create-btn{
    text-align: end;
}
.btn{
    width: 100px;
}
.content{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}