.todo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    text-transform: capitalize;
}
.cross{
    font-size: 28px;
    opacity: 0.5;
    transition: 0.3s;
    /* margin-top: 7px; */
    margin-right: 15px;
    margin-left: -40px;
}
.cross:hover{
    opacity: 0.9;
}
.todo-border{
    border-bottom: solid;
    border-width: 1px;
    display: flex;
    width: 600px;
    justify-content: space-between;
    /* padding: 5px; */
}
.pencil{
    font-size: 24px;
    opacity: 0.5;
    transition: 0.3s;
}
.pencil:hover{
    opacity: 0.9;
}